/*section1*/
.outline-table {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  
  table {
    border: 2px solid #9eb6ad;
    background-color: #2F2E3A;
  }

  tr {
    border-top: 2px solid #9eb6ad;
  }

  th {
    border-right: 2px solid #9eb6ad;
    padding: 5px 10px 5px 5px;
  }

  td {
    border-right: 2px solid #9eb6ad;
    padding: 3px;

    img {
      display: flex;
      justify-content: center;
      margin: 5px 5px 0px 5px;
    }
  }

  .head {
    th {
      border: none;
      display: flex;
      justify-content: end;
      font-size: large;
      padding: 5px 0px;
    }
  }
}

/*section2*/
.device {
  .each {
    margin-bottom: 50px;
  }

  .exption {
    margin-left: 35px;
    margin-right: 12px;
  }

  .exption p::before {
    content: '• ';
    margin-right: 5px;
    color: #9eb6ad;
  }
}

.device-section {
  ul {
    li{
      margin-bottom: 5px;
    }
  }
}

.amazon {
  background: #e47911;
  width: 180px;
  height: 40px;
  font-size: 12px;
  color: #fff;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  margin: 5px;
}

.amazon:hover {
  color: #fff;
  text-decoration-line: none;
  background-color: #de9751;
}

.rakuten {
  background: #BF0000;;
  width: 180px;
  height: 40px;
  font-size: 12px;
  color: #fff;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  margin: 5px;
}

.rakuten:hover {
  color: #fff;
  text-decoration-line: none;
  background: #ce4646;
}

.official {
  background: #9eb6ad;
  width: 180px;
  height: 40px;
  font-size: 12px;
  color: #fff;
  margin-bottom: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  margin: 5px;
}

.official:hover {
  color: #fff;
  background: #474747;
  text-decoration-line: none;
  background: #474747;
}

.EC {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

/*section3*/
.type {
  .features {
    margin: 0 30px;
    display: flex;
  }
}

/*section4*/
.character {
  .paragraph {
    margin-bottom: 30px;
    p{
      font-weight: bold;
    }
  }
}

.year-table{
  background-color: #2f2e3a;
  border: solid 1px #9eb6ad;
  margin: 10px 10px;
  thead{
    background-color: #2b2b2b;
  }
  td,th{
    border: solid 1px #9eb6ad;
    padding: 5px 0px 8px 3px;
  }
  td:nth-child(1) {
    width: 150px;
  }
  td:nth-child(2) {
  width: 130px;
  }
  td:nth-child(3) {
    width: 100px;
  }
}

